.cards{
    max-width: 1200px;
    margin: 0 auto;
    background:bisque ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}
.card{
    max-width: 100%;
    border: 2px solid gray;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transform: scale();
}
.rasm{
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}